{% load i18n %}
<style>
    #graph svg {
        width: 720px;
        height: 300px;
    }
</style>
<div id="graph">
</div>
<script>
    /*These lines are all chart setup.  Pick and choose which chart features you want to utilize. */
    d3.json('{% url 'contracts_data_selector' 'contracted-lorenz-curve-json' %}', function(error, data) {

        data.forEach(function(series) {
            series['values'].forEach(function(d) {
                d.x = (+d.rank);
                d.y = (+d.cumulative);
            });
        });

        nv.addGraph(function() {
            var chart = nv.models.lineChart()
                    .margin({left: 100, right: 100})
                    .useInteractiveGuideline(true);

            chart.xAxis.axisLabel('{% trans 'Rank' %}')
                    .tickFormat(d3.format(',.2f'));

            chart.yAxis.axisLabel("{% trans 'Relative cumulative earnings' %}")
                    .tickFormat(d3.format(',.2f'));

            var svg = d3.select('#graph').append('svg')
                    .datum(data)
                    .call(chart);

            // link to data
            var a = svg.append("a")
                    .attr("xlink:href", '{% url 'contracts_data_selector' 'contracted-lorenz-curve-json' %}')
                    .attr("target", "_blank");
            a.append("svg:text")
                    .attr("x", 500).attr("y", 280)
                    .text('{% trans "Download data" %}');

            //Update the chart when window resizes.
            nv.utils.windowResize(function() { chart.update() });
            return chart;
        });
    });
</script>
