{% extends "contracts/two_column_body.html" %}
{% load i18n %}
{% load contracts.humanize %}
{% block title %}{% trans "Distribution of contract prices"%}{% endblock %}
{% block forejs %}
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.min.js"></script>
{% endblock %}
{% block content %}
    <div class="rules">
        <h2>{% trans "How many contracts are priced as X Euros?"%}</h2>
        <p>
            {% blocktrans with count=count price=price|intword%}
                Portugal's official database has today {{ count }} contracts, with a total value of {{ price }} €.
                In this analysis, we asked:
            {% endblocktrans %}
        </p>
        <h3>{% trans "What is the distribution of prices of these contracts?" %}</h3>
        {% include "contracts/contracts_price_histogram/graph.html" %}
        <p>
            {% blocktrans %}
                The graph represents the number of contracts (y-axis) within a price range (x-axis).
                We point out two caracteristics of the distribution:
            {% endblocktrans %}
        </p>
        <ul>
            <li>
                {% trans "The maximum is around 5000€-10.000€" %}
            </li>
            <li>
                {% trans "The distribution is broad, with contracts from euros to million of euros." %}
            </li>
        </ul>
    </div>
{% endblock %}
