{% extends "contracts/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Portuguese municipalities - tender or direct procurement?' %}{% endblock %}
{% block content %}
    <div class="text-element" itemscope itemtype="http://schema.org/Article">
        <h2 itemprop="name">{% trans 'Portuguese municipalities - tender or direct procurement?' %}</h2>
        <p>
            {% blocktrans trimmed %}
                The procedure to create a public procurement in Portugal is mainly either by
                <strong>direct procurement</strong> or by a <strong>public tender</strong>.
                In this analysis we asked the question:
            {% endblocktrans %}
        </p>
        <h3>{% trans "How municipalities do procurement?"%}</h3>
        <p itemprop="description">
            {% blocktrans trimmed %}
                We considered all contracts of all municipalities of each month and asked how many were decided
                by a public tender, and how many were decided by direct procurement. Here is the result:
            {% endblocktrans %}
        </p>
    </div>
    {% url 'contracts_data_selector' 'municipalities-procedure-types-time-series-json' as the_url %}
    {% include "contracts/analysis/procedure_type_time_series/graph.html" with url=the_url%}
{% endblock %}
