{% extends "law/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Analysis" %}{% endblock %}
{% block content %}
    <div itemscope itemtype="http://schema.org/WebPage">
        <h1 itemprop="name">
            {% trans "Analysis to the law" %}
        </h1>
        <ul>
            {% for analys in analysis %}
                <li><a href="{{ analys.url }}">
                    {{ analys.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
