{% extends "law/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Public Law"%}{% endblock %}
{% block content %}
    <div itemscope itemtype="http://schema.org/WebPage">
        <div class="text-center">
            <h1 itemprop="name">
                {% trans "Welcome to Public Law" %}
            </h1>
            <img class="img-rounded" src="{% static 'images/logo_big.png' %}" itemprop="primaryImageOfPage"/>
            <p itemprop="description">
                {% blocktrans with github_url="https://github.com/jorgecarleitao/public-contracts" dre_url="http://dre.pt/" %}
                    In this project we use the <a href="{{ dre_url }}">official database of the portuguese law</a>
                    to explore some of its properties.
                {% endblocktrans %}
            </p>
        </div>
        <h3>{% trans "What can you find here?" %}</h3>
        <p>
            {% blocktrans %}
            This section of the website contains all documents published in the Series I
            of "Diário da República" - the official publication for portuguese laws.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
            This accounts for all laws since 1910, the beginning of the portuguese Republic,
            until today: the database is daily synchronized with the official database.
            {% endblocktrans %}
        </p>
        <p>
            {% url 'law_document' 317114 as the_url %}
            {% blocktrans with url=the_url %}
                When the law has integral text, we apply a special formatting to improve text's readability, and
                allow to refer to specific articles (e.g. see <a href="{{ url }}">Portaria 117/2014</a>).
            {% endblocktrans %}
        </p>
        <h3>{% trans "Analysis to the law"%}</h3>
        <p>
            {% url 'law_analysis_selector' 3 'law_types_time_series' as the_url %}
            {% blocktrans with url=the_url %}
                Besides law, we also present some statistical features of it.
                One example is the <a href="{{ url }}">evolution of the portuguese laws</a>:
            {% endblocktrans %}
        </p>
        {% url 'law_data_selector' 'law-types-time-series-json' as the_url %}
        {% include "law/analysis/law_types_time_series/graph.html" with url=the_url%}
        <h4>{% trans "Other information:" %}</h4>
        <p>
            {% trans "This project is in continuous deployment; we use Twitter to announce updates." %}
        </p>
        <p>
            {% blocktrans with tretas_url="http://dre.tretas.org" %}
                We thank the contributors of <a href="{{ tretas_url }}">dre.tretas</a> and in particular to
                Helder Guerreiro, for ideas and discussions that greatly improved this project.
            {% endblocktrans %}
        </p>
    </div>
{% endblock %}
