{% load i18n %}
<div class="sidebar-box">
    <h4 class="title">{% trans "Key points" %}</h4>
    <ul>
        <li>
            {% blocktrans with base="http://www.base.gov.pt/base2/"%}
                The <a href="{{ base }}">oficial database</a> is a useful and insightful
                tool to analyse the portuguese procurement.
            {% endblocktrans %}
        </li>
        <li>
            {% trans "About 90 percent of all procurements from municipalities are today made by direct procurement." %}
        </li>
        <li>
            {% trans "In the last 5 years, there has been a slight increase to use the public tender." %}
        </li>
    </ul>
</div>
<script>
    $(function() {

        var $sidebar   = $(".box"),
                $window    = $(window),
                offset     = $sidebar.offset(),
                topPadding = 15;

        $window.scroll(function() {
            if ($window.scrollTop() > offset.top) {
                $sidebar.stop().animate({
                    marginTop: $window.scrollTop() - offset.top + topPadding
                });
            } else {
                $sidebar.stop().animate({
                    marginTop: 0
                });
            }
        });

    });
</script>
