{% extends "contracts/two_column_body.html" %}
{% load i18n %}
{% load static %}
{% block title %}Municípios - tempo médio de publicação{% endblock %}
{% block forejs %}
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.min.js"></script>
{% endblock %}
{% block content %}
    <div class="text-element" itemscope itemtype="http://schema.org/Article">
        <h2 itemprop="name">Quando tempo demoram os municípios portugueses a publicar os seus contratos?</h2>
        <p itemprop="description">
            As entidades públicas têm o dever de publicar os seus contratos públicos
            <a href="http://www.base.gov.pt/base2/">na base de dados oficial de contratos públicos</a>.
        </p>
        <p>
            Esta públicação dá-se após o contrato ter sido fechado e, naturalmente,
            existe um tempo entre o contrato ser publicado e o município o colocar na base de dados.
        </p>
        <p>
            Em princípio, diferentes municípios demoram diferentes tempos para completar o
            processo de publicação. Cientes disto, colocámos a pergunta:
        </p>
        <h3>
            Quanto tempo demoram os municípios a publicarem os seus contratos na base de dados?
        </h3>
        <p>
            Para responder a esta pergunta, enumerámos todos os municípios registados na base de dados
            e calculámos o tempo médio entre o contrato ser assinado
            e o contrato ser adicionado à base de dados (<a id="extend-button-1">expandir detalhes</a>).
        </p>
        <div id="extendable-1" hidden="1">
            <p>
                Usámos apenas contratos disponíveis na base de dados que contêm
                a data de assinatura do contrato na média e excluímos municípios com menos de 5
                contratos publicados.
            </p>
        </div>
        <p>
            Eis o resultado (passe o rato pelo gráfico):
        </p>
    </div>
    {% include "contracts/municipalities_delta_time/graph.html" %}
    {% include "contracts/municipalities_delta_time/histogram.html" %}
    <div class="text-element">
        <p>
            Verificamos que a maioria dos municípios pública os seus
            contratos dentro de dois meses (60 dias), embora haja algumas excepções ;-)
        </p>
        <p>
            Verificámos que não existe uma correlação (linear) entre o tempo médio de publicação
            e a <a href="{% url 'contracts_internal_analysis_selector' 4 %}">específicidade média</a>. Ou seja,
            são medidas aparentemente independentes uma da outra.
        </p>
        <h3>
            Municípios ordenados por tempo médio de publicação (dias)
        </h3>
        <p>Use Crl + F para procurar o seu :-)</p>
    </div>
    {% with entities=entities %}
        {% if entities %}
            <div class="list-loop">
                {% for entity in entities %}
                    {% include "contracts/municipalities_delta_time/summary.html" %}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <script>
        $(document).ready(function() {
            $("#extend-button-1").click(function() {
                $("#extendable-1").slideToggle();
            });

            $("#extend-button-2").click(function() {
                $("#extendable-2").slideToggle();
            });
        });
    </script>
{% endblock %}
{% block sidebar %}
    {% include "contracts/municipalities_delta_time/sidebar.html" %}
{% endblock %}
