{% load i18n %}
<div class="main-list">
    {% if entities %}
        {% include "contracts/entity_list/pagination.html" %}
    {% endif %}
    {% include "contracts/entity_list/search_entities.html" %}
    <div class="list-loop">
        {% include "contracts/entity_list/entities_loop.html" %}
    </div>
    {% if entities %}
        {% include "contracts/entity_list/pagination.html" %}
    {% endif %}
</div>
<script>
    $(document).ready(function() {
        $("a.page-selector").click(function() {
            var me = $(this);
            var newURL = null;
            newURL = updateURLParameter(window.location.href, '{% trans "page"%}', me.html());
            window.location.replace(newURL);
        });
    });
</script>
