{% if entities.paginator.num_pages != 1 %}
    <ul class="pagination horizontal-tab-list">
        {% if entities.has_previous %}
            {% if entities.previous_page_number != 1 %}
                <li><a class="page-selector">1</a></li>
            {% endif %}
            <li><a class="page-selector">{{ entities.previous_page_number }}</a></li>
        {% endif %}
        <li><span class="active">{{ entities.number }}</span></li>
        {% if entities.has_next %}
            <li><a class="page-selector">{{ entities.next_page_number }}</a></li>
            {% if entities.next_page_number != entities.paginator.num_pages %}
                <li><a class="page-selector">{{ entities.paginator.num_pages }}</a></li>
            {% endif %}
        {% endif %}
    </ul>
{% endif %}
