{% load i18n %}
<style>
    .graph svg {
        width: 720px;
        height: 300px;
    }
</style>
<div class="graph" id="{% block id_name %}graph{% endblock %}">
</div>
<script>
    d3.json('{{ url }}', function (error, data) {

        var parseDate = d3.time.format('%Y-%m');

        data.forEach(function (series) {
            series['values'].forEach(function (d) {
                d.x = parseDate.parse(d.month);
                d.y = (+d.{% block y_quantity %}value{% endblock %});
            });
        });

        nv.addGraph(function () {
            var chart = nv.models.stackedAreaChart()
                    .margin({left: 80, right: 40})
                    .useInteractiveGuideline(true)
                    .transitionDuration(500)
                    .showControls(false);

            chart.xAxis
                    .axisLabel('{% trans 'month' %}')
                    .tickFormat(function (d) {
                        return d3.time.format('%Y-%m')(new Date(d));
                    });

            chart.xScale(d3.time.scale());

            {% block y_axis %}
            chart.yAxis
                    .axisLabel("{% trans 'Value of the contracts' %}")
                    .tickFormat(function (d) {
                        return d3.format(',.2s')(d) + '€'
                    });
            {% endblock %}

            var svg = d3.select('#{% block id_name1 %}graph{% endblock %}').append('svg')
                    .datum(data)
                    .call(chart);

            // link to data
            var a = svg.append("a")
                    .attr("xlink:href", '{{ url }}')
                    .attr("target", "_blank");
            a.append("svg:text")
                    .attr("x", 500).attr("y", 280)
                    .text('{% trans "Download data" %}');

            //Update the chart when window resizes.
            nv.utils.windowResize(chart.update);
            return chart;
        });
    });
</script>
