{% load i18n %}
{% if deputies or search %}
    <div class="pagination btn-toolbar pull-right">
        <div class="btn-group">
            <div class="input-group">
                <input type="text"
                       class="form-control{% if search %} active{% endif %}"
                       autofocus="1"
                       id="search_content"
                       placeholder="{% trans "search deputies" %}"
                       value="{{search}}">
            </div>
        </div>
        <div class="btn-group">
            <a class="btn btn-default ordering order-name{% if ordering == 'name' or not ordering %} active{% endif %}"
               title="{% trans "order by name" %}"
               href="#">
                {% trans "name" %}
            </a>
            <a class="btn btn-default ordering order-mandates{% if ordering == 'mandates' %} active{% endif %}"
               title="{% trans "order by mandates" %}"
               href="#">
                {% trans "mandates" %}
            </a>
        </div>
    </div>
{% endif %}
<script>
    $(document).ready(function() {
        $("a.ordering").click(function(e) {
            e.preventDefault();
            var newURL = null;

            if ($(this).hasClass('order-name'))
                newURL = updateURLParameter(window.location.href, '{% trans "sorting"%}', '{% trans "name"%}');
            else if ($(this).hasClass('order-mandates'))
                newURL = updateURLParameter(window.location.href, '{% trans "sorting"%}', '{% trans "mandates"%}');

            window.location.replace(newURL);
        });
    });
</script>
<script>
    $(document).ready(function() {
        $("#search_content").keypress(function(e) {
            if(e.which == 13)
            {
                e.preventDefault();
                var newURL = updateURLParameter(window.location.href, "{%trans 'search'%}", $(this).val());
                window.location.replace(newURL);
            }
        });
    });
</script>
