{% load i18n %}
{% if deputies or search %}
    <ul class="nav nav-pills pull-right">
        <li {% if search %}class="active"{% endif %}>
            <input type="text" autofocus="1" id="search_content" placeholder="{% trans "search deputies" %}" value="{{search}}">
        </li>
        <li {% if ordering == 'name' %}class="active"{% endif %}>
            <a class="ordering order-name" title="{% trans "order by name" %}" href="#">
                {% trans "name" %}
            </a>
        </li>
        <li {% if ordering == 'mandates' %}class="active"{% endif %}>
            <a class="ordering order-mandates" title="{% trans "order by mandates" %}" href="#">
                {% trans "mandates" %}
            </a>
        </li>
    </ul>
{% endif %}
<script>
    $(document).ready(function() {
        $("a.ordering").click(function(e) {
            e.preventDefault();
            var newURL = null;

            if ($(this).hasClass('order-name'))
                newURL = updateURLParameter(window.location.href, '{% trans "sorting"%}', '{% trans "name"%}');
            else if ($(this).hasClass('order-mandates'))
                newURL = updateURLParameter(window.location.href, '{% trans "sorting"%}', '{% trans "mandates"%}');

            window.location.replace(newURL);
        });
    });
</script>
<script>
    $(document).ready(function() {
        $("#search_content").keypress(function(e) {
            if(e.which == 13)
            {
                e.preventDefault();
                var newURL = updateURLParameter(window.location.href, "{%trans 'search'%}", $(this).val());
                window.location.replace(newURL);
            }
        });
    });
</script>
