.price {
    clear: both;
}

.category-list {
    margin-top: 10px;
    list-style: none;
    margin-left: 0;
    width: 100%;
}

.category-list li {
    width: inherit;
    margin-left: 0;
    border-bottom: 1px solid gray;
}

#rss-feed {
    float: right;
    background: url(../images/rss.png) 0 0;
    width: 30px;
    height: 30px;
}
