.summary {
    padding-bottom: 3px;
    padding-top: 3px;
    border-bottom: 1px solid #DDDBCE;
    width: 100%;
    clear: both;
}

.summary .counters {
    padding-top: 3px;
}

.summary .content {
    width: 615px;
}

.summary h2 {
    font-weight: bold;
    font-size: 18px;
}

.summary .categories {
    clear: both;
    float: left;
}

.summary .age,
.summary .entity-summary {
    float: right;
    margin-left: 5px;
}

.summary .age {
    color: rgb(180,180,180);
}

.summary .counter {
    text-align: center;
    margin-right: 3px;
    padding: 0 2px 3px 2px;
    width: 45px;
    font-size: 24px;
}
