.summary {
    padding-bottom: 3px;
    padding-top: 10px;
    border-bottom: 1px solid #DDDBCE;
    width: 100%;
    clear: both;
}

.summary .content {
    width: 415px;
    float: left;
}

.summary h2 {
    font-weight: bold;
    font-size: 16px;
    padding: 0;
}

.summary .categories {
    clear: both;
    float: left;
}

.summary .age {
    float: left;
    clear: both;
    color: rgb(180,180,180);
}

.summary .transfer {
    float: left;
    clear: both;
}

.summary .counter {
    text-align: center;
    margin-right: 8px;
    font-size: 24px;
}

.summary .counter p {
    float: none;
}

.summary .counter .label {
    font-size: 14px;
}

.summary .right {
    float: right;
}

.summary .price-1 {
    color: green;
    font-weight: bold;
}

.summary .price-2 {
    color: #278000;
    font-weight: bold;
}

.summary .price-3 {
    color: #588000;
    font-weight: bold;
}

.summary .price-4 {
    color: #7d8000;
    font-weight: bold;
}

.summary .price-5 {
    color: #803c00;
    font-weight: bold;
}

.summary .price-6 {
    color: #800200;
    font-weight: bold;
}
