{% extends "base/header.html" %}
{% load static %}
{% load i18n %}
{% block scope_nav %}
    <div id="scopeNav">
        <ul class="horizontal-tab-list">
            <li><a id="hlogo" href="{% url "contracts_home" %}"><img src="{% static "images/logo.png" %}" alt="" /></a></li>
            <li><a href="{% url "contracts_list" %}">{% trans "Contracts" %}</a></li>
            <li><a href="{% url "categories_list" %}">{% trans "Categories" %}</a></li>
            <li><a href="{% url "entities_list" %}">{% trans "Entities" %}</a></li>
            <li><a href="{% url "tenders_list" %}">{% trans "Tenders" %}</a></li>
        </ul>
    </div>
{% endblock %}
