{% load i18n %}
{% if entities or search %}
    <ul class="nav nav-pills pull-right">
        <li {% if search %}class="active"{% endif %}>
            <input type="text" autofocus="1" id="search_content" placeholder="{% trans "search entities" %}" value="{{search}}">
        </li>
        <li {% if ordering == 'name' %}class="active"{% endif %}>
            <a class="sorting order-name" title="{% trans "order by name" %}" href="#">
                {% trans "name" %}
            </a>
        </li>
        <li {% if ordering == 'contracts' %}class="active"{% endif %}>
            <a class="sorting order-contracts" title="{% trans "order by number of contracts" %}" href="#">
                {% trans "contracts" %}
            </a>
        </li>
        <li>
            <a class="sorting order-value" title="{% trans "order by value" %}" href="#">
                {% trans "value" %}
            </a>
        </li>
    </ul>
{% endif %}
<script>
    $(document).ready(function() {
        $("a.ordering, a.filter").click(function(e) {
            e.preventDefault();
            var newURL = null;

            if ($(this).hasClass('order-name'))
                newURL = updateURLParameter(window.location.href, '{% trans "sorting"%}', '{% trans "name"%}');
            else if ($(this).hasClass('order-value'))
                newURL = updateURLParameter(window.location.href, '{% trans "sorting"%}', '{% trans "value"%}');
            else if ($(this).hasClass('order-contracts'))
                newURL = updateURLParameter(window.location.href, '{% trans "sorting"%}', '{% trans "contracts"%}');

            window.location.replace(newURL);
        });
    });
</script>
<script>
    $(document).ready(function() {
        $("#search_content").keypress(function(e) {
            if(e.which == 13)
            {
                e.preventDefault();
                var newURL = updateURLParameter(window.location.href, "{%trans 'search'%}", $(this).val());
                window.location.replace(newURL);
            }
        });
    });
</script>
