{% extends "contracts/one_column_body.html" %}
{% load i18n %}
{% block title %}{% trans "About Public Contracts"%}{% endblock %}
{% block content %}
    <div class="text-element">
        <h2>{% trans "About Public Contracts"%}</h2>
        <p>
            {% blocktrans with author="Jorge C. Leitão" email="jorgecarleitao at gmail dot com" website="https://sites.google.com/site/jorgecarleitao/"%}
                This project is under the responsibility of <a href="{{ website }}">{{ author }}</a>, {{ email }}.
            {% endblocktrans %}
        </p>
        <h4>{% trans "Disclaimer"%}</h4>
        {% blocktrans with mailing_list="https://groups.google.com/forum/#!forum/public-contracts"%}
        <p>
            Most people don’t have the time nor will to scrutinize our analysis,
            and our analysis are not peer reviewed by specialists in the field.
            This means that they do not follow a scientific procedure.
        </p>
        <p>
            The analysis we provide can easily be used to support claims about specific public or private entities.
            In any circumstance we do such claims.
            This website is a place for gaining a better understanding on portuguese public procurement.
        </p>
        <p>
            If you have any suggestion or criticism, please add it to the <a href="{{ mailing_list }}">public mailing list</a>.
        </p>
        {% endblocktrans %}
        <h2>{% trans "Acknowledgments"%}</h2>
        <ul>
            <li>
                {% blocktrans with mailing_list="https://www.djangoproject.com/"%}
                <a href="{{ mailing_list }}">Django foundation and its contributors</a> for the
                extraordinary software and helpful community they are;
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans with mailing_list="http://madespesapublica.blogspot.pt/"%}
                <a href="{{ mailing_list }}">Má despesa pública</a>, a portuguese blog,
                for publicizing some of our analysis;
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans with mailing_list="http://www.base.gov.pt/base2/"%}
                <a href="{{ mailing_list }}">The portuguese's official database</a>
                for insights on the current law about public contracts;
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans with mailing_list="http://europa.eu/legislation_summaries/internal_market/businesses/public_procurement/l22008_pt.htm"%}
                <a href="{{ mailing_list }}">The European Union's website</a>
                for the insightful information about public contracts;
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans with mailing_list="https://github.com/tabo/django-treebeard"%}
                <a href="{{ mailing_list }}">Django-treebeard package</a>
                for the efficient tree storage;
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans with mailing_list="https://readthedocs.org/"%}
                <a href="{{ mailing_list }}">read the docs</a> for hosting our documentation.
                {% endblocktrans %}
            </li>
        </ul>
    </div>
{% endblock %}
