{% extends "contracts/one_column_body.html" %}
{% load i18n %}
{% block title %}{% trans "About"%}{% endblock %}
{% block content %}
    <div class="rules">
        <h2>Sobre este projeto</h2>
        <p>
            Este projeto está sobre a responsabilidade de
            <a href="https://sites.google.com/site/jorgecarleitao/">Jorge C. Leitão</a>, jorgecarleitao at gmail dot com.
        </p>
        <h4>
            Código de conduta
        </h4>
        <p>
            A maioria das pessoas não tem o tempo, vontade ou conhecimentos para escrutinar as análises que são feitas
            neste website, ainda que o código seja aberto. Para além disso, este trabalho <strong>não é peer reviewed</strong>
            e portanto não é científico. Seja <strong>crítico</strong> na interpretação.
        </p>
        <p>
            As análises que aqui apresentamos podem ser facilmente usadas para difamar entidades
            específicas, quer sejam públicas ou privadas.
            Em qualquer circunstância este projeto se revê nessas afirmações. Este é um projeto para conhecer
            e compreender a contratação portuguesa e não um local para formar uma agenda política.
        </p>
        <p>
            Se tiver alguma crítica ou sugestão, pode colocá-la na
            <a href="https://groups.google.com/forum/#!forum/public-contracts">mailing list pública</a>
            deste projeto, de forma a ela ser publicamente discutida.
        </p>
        <h2>Agradecimentos/Acknowledgments</h2>
        <ul>
            <li>
                <a href="https://www.djangoproject.com/">Django foundation and its contributors</a> for the
                extraordinary software and helpful community they are.
            </li>
            <li>
                <a href="http://madespesapublica.blogspot.pt/">Má despesa pública</a>,
                a portuguese blog, for publicizing some of our analysis;
            </li>
            <li>
                <a href="http://www.base.gov.pt/base2/">The portuguese's official database</a>
                for insights on the current law about public contracts;
            </li>
            <li>
                <a href="http://europa.eu/legislation_summaries/internal_market/businesses/public_procurement/l22008_pt.htm">The European Union's website</a>
                for the insightful information about public contracts;
            </li>
            <li>
                <a href="https://github.com/tabo/django-treebeard">Django-treebeard package</a>
                for the efficient tree storage;
            </li>
            <li>
                <a href="https://readthedocs.org/">read the docs</a> for hosting our documentation.
            </li>
        </ul>
    </div>
{% endblock %}
