{% extends "contracts/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Analysis"%}{% endblock %}
{% block content %}
    <div class="container">
        <ul>
            {% for analys in analysis %}
                <li><h4><a href="{{ analys.url }}">
                    {{ analys.title }}</a></h4>
            </li>
            {% endfor %}
        </ul>
        <p>
            {% blocktrans with mailing_list="https://groups.google.com/forum/#!forum/public-contracts" %}
                If you want a new analysis or have any suggestion, post it in
                <a href="{{ mailing_list }}">our mailing list</a>.
            {% endblocktrans %}
        </p>
    </div>
{% endblock %}
