{% extends "base.html" %}
{% block header %}
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-info" role="alert">
                <p>
                    O filtro de contratos e entidades foi actualizado: deverá notar uma enorme
                    diferença quando filtra contratos ou entidades usando texto.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="alert alert-success" role="alert">
                <p>
                    Anuncio também que, hoje, mais de 1.000 pessoas visitam diariamente o públicos:
                    todas as sugestões e agradecimentos são bem vindos!
                </p>
            </div>
        </div>
    </div>
    {% include "contracts/base/header.html" %}
{% endblock %}
