{% extends "base.html" %}
{% block body %}
    <div>
        <ul>
            {% for division in divisions %}
                <li>
                    <p>{{ division.description_pt }} ({{ division.code }})</p>
                    <ul>
                        {% for group in division.groups %}
                            <li>
                                <p>{{ group.description_pt }} ({{ group.code }})</p>
                                {% if group.classes %}
                                    <ul>
                                        {% for class in group.classes %}
                                            <li>
                                                <p>{{ class.description_pt }} ({{ class.code }})</p>
                                                {% if class.categories %}
                                                    <ul>
                                                        {% for category in class.categories %}
                                                            <li>
                                                                <p>{{ category.description_pt }} ({{ category.code }})</p>
                                                                {% if category.sub_categories %}
                                                                    <ul>
                                                                        {% for sub_category in category.sub_categories %}
                                                                            <li>
                                                                                <p>{{ sub_category.description_pt }} ({{ sub_category.code }})</p>
                                                                            </li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                {% endif %}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
