{% extends "contracts/two_column_body.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Public contracts"%}{% endblock %}
{% block content %}
    <div class="rules" itemscope itemtype="http://schema.org/Article">
        <h2 class="center">Bem vindo ao contratos públicos</h2>
        <p itemprop="description">
            O <strong>contratos públicos</strong> é um projecto
            <a href="https://github.com/jorgecarleitao/public-contracts">open source</a>
            para analisar e visualizar a rede de
            <a href="http://www.base.gov.pt/base2/">contratos públicos portugueses</a>.
            Neste website pode navegar na base de dados de contratos públicos e encontrar análises
            estatísticas que ajudam a compreender a contratação pública portuguesa.
        </p>
        <h3>Comparações entre municípios</h3>
        <ul>
            <li>
                <a href="{% url "entities_category_ranking" %}">Ranking de especificidade de municípios</a> (contribuída por Jorge C. Leitão)
            </li>
            <li>
                <a href="{% url "municipalities_delta_time" %}">Tempo de publicação dos municípios</a> (contribuída por Jorge C. Leitão)
            </li>
        </ul>
        <h3>Análises macroscópicas</h3>
        <ul>
            <li>
                <a href="{% url "contracts_price_histogram" %}">Distribuição de preços dos contratos</a> (contribuída por Jorge C. Leitão)
            </li>
            <li>
                <a href="{% url "procedure_types_time_series" %}">Percentagem de contratos por ajuste direto e por concurso público</a>  (contribuída por Jorge C. Leitão)
            </li>
        </ul>
        <p>
            Se tem uma análise que gostaria de ver feita ou alguma sugestão,
            <a href="https://groups.google.com/forum/#!forum/public-contracts">entre em contacto connosco</a>.
        </p>
    </div>
{% endblock %}
