{% extends "contracts/entity_view/main.html" %}
{% load i18n %}
{% load contracts.humanize %}
{% block entity_content %}
    {% with count_contracts=entity.contracts_made.count count_contracts_received=entity.contract_set.count %}
        <div class="container">
            <ul>
                <li>
                    {% trans "Fiscal Number" %}: {{ entity.nif }}
                </li>
                <li>
                    {% trans "Total earned" %}: {{ entity.total_earned|intword }} €
                </li>
                <li>
                    {% trans "Total expended" %}: {{ entity.total_expended|intword }} €
                </li>
                <li>
                    {% trans "Contracts as hiring" %}: {{ count_contracts }}
                </li>
                <li>
                    {% trans "Contracts as hired" %}: {{ count_contracts_received }}
                </li>
            </ul>
        </div>
        {% if count_contracts %}
            {% url 'entity_contracts_made_time_series' entity.id as the_url %}
            {% include "contracts/entity_view/tab_data/graph.html" with url=the_url %}
        {% endif %}

        {% if count_contracts_received %}
            {% url 'entity_contracts_received_time_series' entity.id as the_url %}
            {% include "contracts/entity_view/tab_data/graph.html" with url=the_url %}
        {% endif %}
    {% endwith %}
    <hr>
    <h3>{% trans "Last contracts" %}</h3>
    {% include "contracts/contract_list/contracts_loop.html" with contracts=last_contracts%}
    <p><a href="{% url "entity_contracts" entity.id %}">{% trans "Full list" %}</a></p>
    <hr>
    <h3>{% trans "Last categories" %}</h3>
    {% include "contracts/category_list/categories_loop.html" with categories=last_categories%}
{% endblock %}
