{% extends "contracts/entity_view/tab_data/graph.html" %}
{% load i18n %}
{% block margin %}
    var margin = {top: 40, right: 60, bottom: 40, left: 60},
            width = 720 - margin.left - margin.right,
            height = 350 - margin.top - margin.bottom;
{% endblock %}
{% block x-axis %}
    var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom").tickValues([
                new Date(2008, 8),
                new Date(2009, 8),
                new Date(2010, 8),
                new Date(2011, 8),
                new Date(2012, 8),
                new Date(2013, 8)
            ])
            .tickFormat(d3.time.format("%m-%Y"));

    var xAxisTop = d3.svg.axis()
                .scale(x)
                .orient("top")
                .ticks(0);
{% endblock %}
{% block x-axis-grid %}
    function make_x_grid() {
        return d3.svg.axis()
                .scale(x)
                .orient("bottom")
                .tickSize(-height, 0, 0)
    }
{% endblock %}
{% block y-axis-grid %}
    function make_y_grid() {
        return d3.svg.axis()
                .scale(y)
                .orient("left")
                .tickSize(-width, 0, 0)
                .tickFormat("")
    }
{% endblock %}
{% block y_axis_block_label %}
    {% trans "Number of signed contracts" %}
{% endblock %}
