{% extends "contracts/two_column_body.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "When do portuguese municipalities contract most?"%}{% endblock %}
{% block content %}
    <div class="rules" itemscope itemtype="http://schema.org/Article">
        <h2 itemprop="name">{% trans "When do portuguese municipalities contract most?" %}</h2>
        <p itemprop="description">
            {% blocktrans with url="http://www.base.gov.pt/base2/" %}
                By European law, portuguese public entities must publish their contracts in an
                <a href="{{ url }}">official public database</a>. With this database,
                we posed the question: when do portuguese municipalities contract most?
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
                We picked all contracts of all municipalities and grouped then by the month of <strong>signing date</strong>.
                Here is the result:
            {% endblocktrans %}
        </p>
    </div>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.min.js"></script>
    {% include "contracts/municipalities_contracts_time_series/graph.html" %}
    <div class="rules">
        <p>
            {% blocktrans %}
                Relevant context:
            {% endblocktrans %}
        </p>
        <ul>
            <li>
                {% blocktrans %}
                    The database only started to be populated from 2008, when European Union law came into effect.
                    To some extent, this explains the sudden increase during 2008-2009.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans %}
                    However, this does not explain the increase in 2009 to values to above the average value of
                    dates posterior to 2009,
                    i.e., why number of signed contracts decreased after end of 2009?
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans %}
                    There were two municipal elections; one in 11-10-2009, the other in 29-09-2013.
                    In both cases, the number of contracts significantly increases before the election month.
                {% endblocktrans %}
            </li>
            <li><a id="extend-button-1">{% trans "Expand technical details..." %}</a></li>
            <li class="extendable-1" hidden="1">
                {% blocktrans %}
                Because the database contains only a percentage of all contracts (not every contract is published),
                one important assumption is that this percentage does not depend on the signing date.
                (For experts:) the assumption is that the database constitute an unbiased sample
                of all contracts.
                {% endblocktrans %}
            </li>
            <li class="extendable-1" hidden="1">
                {% blocktrans %}
                We are not using the sum of values (€) of the contracts.
                The argument is that values are unbounded:
                one single contract can make a particular month to have a arbitrary large value.
                (For experts:) the reason is that the variance of the sum of values can be
                unbounded because the distribution of values is broad.
                {% endblocktrans %}
            </li>
            <li class="extendable-1" hidden="1">
                {% blocktrans %}
                On the other hand, the number of contracts is bounded. Moreover, the number of contracts
                reflects better the idea of "number of individual actions" the municipality does.
                {% endblocktrans %}
            </li>
            <li class="extendable-1" hidden="1">
                {% blocktrans %}
                    There is a periodic peak of contracts in September. The beginning of school can be a
                    justification for it.
                {% endblocktrans %}
            </li>
        </ul>
        <p>
            {% blocktrans %}
                Overall, we argue that municipal elections have a strong
                influence on the number of contracts on months preceding the election.
            {% endblocktrans %}
            {% blocktrans %}
                In the particular case of 2009, this quantifies to an almost duplication
                of the number of contracts in relation to posterior dates.
            {% endblocktrans %}
        </p>
    </div>
    <script>
        $(document).ready(function() {
            $("#extend-button-1").click(function() {
                $(".extendable-1").slideToggle();
            });
        });
    </script>
{% endblock %}
