{% extends "contracts/two_column_body.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "When do portuguese municipalities contract most?"%}{% endblock %}
{% block content %}
    <div class="rules" itemscope itemtype="http://schema.org/Article">
        <h2 itemprop="name">{% trans "When do portuguese municipalities contract most?" %}</h2>
        <p itemprop="description">
            {% blocktrans with url="http://www.base.gov.pt/base2/" %}
                By European law, portuguese public entities must publish their contracts in an
                <a href="{{ url }}">official public database</a>. With this database,
                we posed the question: when do portuguese municipalities contract most?
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
                We picked all contracts of all municipalities and grouped then by the month of <strong>signing date</strong>,
                from 2008. Here is the result:
            {% endblocktrans %}
        </p>
    </div>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.min.js"></script>
    {% include "contracts/municipalities_contracts_time_series/graph.html" %}
    <div class="rules">
        <p>
            {% blocktrans %}
                Relevant context:
            {% endblocktrans %}
        </p>
        <ul>
            <li>
                {% blocktrans %}
                    The database only started to be populated from 2008, when European Union law came into effect.
                    To some extent, this explains the sudden increase.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans %}
                    However, this does not explain the increase of 2009 to values above the average value of
                    dates posterior to 2009,
                    since this data refers to date of signing and not date of addition to the database.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans %}
                    There were two municipal elections; one in October 2009, the other in September 2013.
                    In both cases, the number of contracts is significantly above the average value.
                {% endblocktrans %}
            </li>
            <li>
                {% blocktrans %}
                    There was an important change in the portuguese law in the 2013 election, which
                    forbid presidents of municipalities with more than 3 mandates to re-candidate.
                    This may explain why 2013 peak was weaker than of the 2009.
                {% endblocktrans %}
            </li>
        </ul>
        <p>
            {% blocktrans %}
                Overall, we conclude that municipal elections have a strong
                influence on the number of contracts on months preceding the election.
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans %}
                In the particular case of 2009, this quantifies to an almost duplication
                of the number of contracts in relation to the average.
            {% endblocktrans %}
        </p>
    </div>
{% endblock %}
