{% load i18n %}
<style>
    #graph-histogram svg {
        width: 920px;
        height: 300px;
    }
</style>
<div id="graph-histogram"></div>
<script>
    d3.json("{% url 'deputies_data_selector' 'deputies-time-distribution-json' %}", function(data) {

        data.forEach(function(series) {
            series['values'].forEach(function(d) {
                d.x = (+d.from);
                d.y = (+d.value);
            });
        });

        nv.addGraph(function() {
            var chart = nv.models.multiBarChart()
                            .margin({left: 100, right: 100})
                            .transitionDuration(350)
                            .reduceXTicks(true)   //If 'false', every single x-axis tick label will be rendered.
                            .rotateLabels(0)      //Angle to rotate x-axis labels.
                            .groupSpacing(0.1)    //Distance between each group of bars.
                            .showControls(false)
                            .tooltip(function(key, x, y, e, graph) {
                                var d = e.series.values[e.pointIndex];
                                return '<p><strong>' + y + ' {% trans "deputies"%}</strong> {% trans "with at least" %} ' +
                                        d.from.toLocaleString() + ' {% trans "days" %}</p>';
                });
            chart.xAxis
                    .tickFormat(d3.format(',.0d'))
                    .axisLabel('{% trans "days" %}');

            chart.yAxis
                    .tickFormat(d3.format(',.d'))
                    .axisLabel('{% trans "Deputies" %}');

            d3.select('#graph-histogram').append('svg')
                    .datum(data)
                    .call(chart);

            nv.utils.windowResize(chart.update);

            return chart;
        });
    });
</script>
