{% extends "law/base.html" %}
{% load i18n %}
{% block title %}{{ law.type.name }} {% if law.number %}{{ law.number }}{% endif %}{% endblock %}
{% block content %}
    <div class="text-center" itemscope itemtype="http://schema.org/Article">
        <h2 itemprop="name">{{ law.type.name }} {% if law.number %}{{ law.number }}{% endif %}</h2>
        <p>
            <small>
                <a href="{{ law.get_pdf_url }}">PDF do Diário da República</a>,
                <a href="{{ law.get_base_url }}">Diário da República Electrónico</a>
            </small>
        </p>
        <p>{{ law.creator.name }}</p>
        <p>{{ law.date }}</p>
        <h4 class="text-center">Sumário:</h4>
        <h5 class="text-center" itemprop="description">{{ law.compose_summary|safe }}</h5>
    </div>
    {{ law.compose_text|safe }}
{% endblock %}
