{% load i18n %}
<style>
    #graph svg {
        width: 920px;
        height: 300px;
    }
</style>
<div id="graph"></div>
<script>
    d3.json("{% url 'contracts_data_selector' 'category-ranking-index-json' %}", function(data) {

        data.forEach(function(series) {
            series['values'].forEach(function(d) {
                d.x = (+d.rank);
                d.y = (+d.avg_depth);
            });
        });

        nv.addGraph(function() {
            var chart = nv.models.multiBarChart()
                            .margin({left: 100, right: 100})
                            .transitionDuration(500)
                            .reduceXTicks(true)
                            .rotateLabels(0)
                            .groupSpacing(0)
                            .showControls(false)
                            .tooltip(function(key, x, y, e, graph) {
                                var d = e.series.values[e.pointIndex];
                                return '<h3>' + d.rank + ": " + d.name + "</h3>" +
                                       "<p>{% trans "Average of" %} " + d.avg_depth.toFixed(1) +
                                        "</p>";
                });
            chart.xAxis
                    .tickFormat(d3.format(',.0f'))
                    .axisLabel('{% trans "Ranking" %}');

            chart.yAxis
                    .tickFormat(d3.format(',.0d'))
                    .axisLabel('{% trans "Average depth" %}');

            d3.select('#graph').append('svg')
                    .datum(data)
                    .call(chart);

            nv.utils.windowResize(chart.update);

            return chart;
        });
    });
</script>
