<svg id="graph-histogram"></svg>
<script>
    $( document ).ready(function() {
        var margin = {top: 0, right: 20, bottom: 40, left: 40};
        var width = 720 - margin.left - margin.right;
        var height = 150 - margin.top - margin.bottom;

        var x = d3.scale.linear()
                .range([width, 0]);

        var y = d3.scale.linear()
                .range([height, 0]);

        var xAxis = d3.svg.axis()
                .scale(x)
                .orient("bottom");

        var yAxis = d3.svg.axis()
                .scale(y)
                .orient("left").ticks(5);

        var tip1 = d3.tip()
                .attr('class', 'd3-tip')
                .offset([-10, 0])
                .html(function(d) {
                    return "[" + d.max_position.toFixed(2) + ", " + d.min_position.toFixed(2) + "]: <strong>" + d.value + "</strong>";
                });

        var svg1 = d3.select("#graph-histogram")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        svg1.call(tip1);

        var data;
        d3.json("{% url 'entities_category_ranking_histogram_json' %}", function(data) {
            min_x_value = d3.min(data, function(d) { return d.min_position; });
            max_x_value = d3.max(data, function(d) { return d.max_position; });

            x.domain([min_x_value, max_x_value]);
            y.domain([d3.min(data, function(d) { return d.value; }), d3.max(data, function(d) { return d.value; })]);

            console.log([min_x_value, max_x_value]);

            var bar_width = width/(max_x_value-1);

            svg1.append("g")
                    .attr("class", "x axis")
                    .attr("transform", "translate(0," + height + ")")
                    .call(xAxis)
                    .append("text")
                    .attr("y", 32)
                    .attr("x", width/2)
                    .style("text-anchor", "end")
                    .text("Especificidade média (Em)");

            svg1.append("g")
                    .attr("class", "y axis")
                    .call(yAxis)
                    .append("text")
                    .attr("x", 52)
                    .attr("y", 12)
                    .style("text-anchor", "end")
                    .text("H(Em)");

            svg1.selectAll(".bar")
                    .data(data)
                    .enter().append("rect")
                    .attr("class", "bar")
                    .attr("x", function(d) { return x(d.max_position); })
                    .attr("width", function(d) { return x(d.min_position) - x(d.max_position);})
                    .attr("y", function(d) { return y(d.value); })
                    .attr("height", function(d) { return height - y(d.value); })
                    .on('mouseover', tip1.show)
                    .on('mouseout', tip1.hide);
        });
    });
</script>
