{% extends "contracts/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Entities index"%}{% endblock %}
{% block content %}
    {% include "contracts/entity_rank/text.html" %}
    {% include "contracts/entity_rank/graph.html" %}
    {% include "contracts/entity_rank/histogram.html" %}
    <div class="text-element">
        <h3>
            Municípios ordenados de acordo com a especificidade média dos seus contratos
        </h3>
        <p>Use Crl + F para procurar o seu :-)</p>
    </div>
    {% with entities=entities %}
        {% if entities %}
            <div class="list-loop">
                {% for entity in entities %}
                    {% include "contracts/entity_rank/summary.html" %}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <script>
        $(document).ready(function() {
            $("#extend-button-1").click(function() {
                $("#extendable-1").slideToggle();
            });

            $("#extend-button-2").click(function() {
                $("#extendable-2").slideToggle();
            });
        });
    </script>
{% endblock %}
