{% load i18n %}
<div class="box">
    <h4 class="title">Pontos chave</h4>
    <ul>
        <li>
            A base de dados de contratos públicos é uma ferramenta
            útil para <strong>analizar entidades públicas</strong>.
        </li>
        <li>
            Usámos um indicador, consistente com as recomendações oficiais,
            para comparar a especificidade média que diferentes municípios usa
            na divulgação dos seus contratos em domínio público.
        </li>
        <li>
            Como mais especificidade leva a maior transparência mas requer trabalho, podemos
            <strong>comparar quantitativamente</strong> o esforço que diferentes municípios
            fazem para serem transparentes na divulgação dos seus contratos.
        </li>
    </ul>
</div>
<script>
    $(function() {

        var $sidebar   = $(".box"),
                $window    = $(window),
                offset     = $sidebar.offset(),
                topPadding = 15;

        $window.scroll(function() {
            if ($window.scrollTop() > offset.top) {
                $sidebar.stop().animate({
                    marginTop: $window.scrollTop() - offset.top + topPadding
                });
            } else {
                $sidebar.stop().animate({
                    marginTop: 0
                });
            }
        });

    });
</script>
