{% extends "summary.html" %}
{% load i18n %}
{% load contracts.humanize %}
{% block summary_content %}
    <div class="counter">
        <p>{{ entity.rank }}</p>
    </div>
    <div class="rank">
        <h2><a href="{{ entity.get_absolute_url }}">{{ entity.name }}</a></h2>
        <div class="rank">
                <span>{% trans "Average depth:" %} <strong>{{ entity.avg_depth|floatformat:3}}</strong>
                ({{ entity.count }} {% trans "contracts" %})</span>
        </div>
    </div>
{% endblock %}
