{% extends "contracts/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "When do portuguese ministries contract most?"%}{% endblock %}
{% block content %}
    <div class="text-element" itemscope itemtype="http://schema.org/Article">
        <h2 itemprop="name">{% trans "When do portuguese ministries contract most?" %}</h2>
        <p itemprop="description">
            {% blocktrans trimmed with url="http://www.base.gov.pt/base2/" %}
                By European law, portuguese public entities must publish their contracts in an
                <a href="{{ url }}">official public database</a>. With this database,
                we posed the question: when do portuguese ministries contract most?
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                We picked all contracts of all ministries and grouped then by the month.
                Here is the result:
            {% endblocktrans %}
        </p>
    </div>
    {% url 'contracts_data_selector' 'ministries-contracts-time-series-json' as the_url %}
    {% include "contracts/analysis/contracts_time_series/graph.html" with url=the_url %}
    <div class="text-element">
        <p>
            {% blocktrans trimmed %}
                By ministry we mean entities whose name starts with "Secretaria-Geral do Ministério ...".
            {% endblocktrans %}
    </div>
{% endblock %}
