{% load i18n %}
{% load contracts.humanize %}
<div class="summary" id="contract-{{contract.id}}">
    <div class="full">
        <h2><a href="{{ contract.get_absolute_url }}">{{ contract.contract_description }}</a></h2>
        <div class="price">
            <p>{{ contract.price|intword }} €</p>
        </div>
        <div class="age">{{contract.signing_date}}</div>
        {% include "contracts/entity_inline.html" with entity=contract.get_first_entity %}
        {% include "contracts/entity_inline.html" with entity=contract.get_first_entity %}
    </div>
</div>
