{% load i18n %}
{% load contracts.humanize %}
<div class="summary" id="contract-{{contract.id}}">
    <div class="full">
        <h2><a href="{{ contract.get_absolute_url }}">{{ contract.contract_description }}</a></h2>
        <div class="age">{{contract.signing_date}}</div>
        <div class="transfer">
            {% include "contracts/contract_list/colored_price.html" with price=contract.price %}
            {% for contracted in contract.contractors.all %}
                {% include "contracts/entity_inline.html" with entity=contracted %}
            {% endfor %}
            <span class="entity-summary">&rarr;</span>
            {% for contracted in contract.contracted.all %}
                {% include "contracts/entity_inline.html" with entity=contracted %}
            {% endfor %}
        </div>
    </div>
</div>
