{% load i18n %}
<div class="main-list">
    {% if contracts %}
        {% include "contracts/contract_list/pagination.html" %}
    {% endif %}
    {% include "contracts/contract_list/search_contracts.html" %}
    <div class="list-loop">
        {% include "contracts/contract_list/contracts_loop.html" %}
    </div>
    {% if contracts %}
        {% include "contracts/contract_list/pagination.html" %}
    {% endif %}
</div>
<script>
    $(document).ready(function() {
        $("a.page-selector").click(function() {
            var me = $(this);
            var newURL = null;
            newURL = updateURLParameter(window.location.href, '{% trans "page"%}', me.html());
            window.location.replace(newURL);
        });
    });
</script>
