{% load i18n %}
{% if contracts or search %}
    <ul class="nav nav-pills pull-right">
        <li {% if search %}class="active"{% endif %}>
            <input type="text" autofocus="1" id="search_content" placeholder="{% trans "search contracts" %}" value="{{search}}">
        </li>
        <li {% if ordering == 'price' %}class="active"{% endif %}>
            <a class="ordering order-price" title="{% trans "order by price" %}" href="#">
                {% trans "price" %}
            </a>
        </li>
        <li {% if ordering == 'date' %}class="active"{% endif %}>
            <a class="ordering order-date" title="{% trans "order by date" %}" href="#">
                {% trans "date" %}
            </a>
        </li>
        <li>
            <a href="{{ request.path }}{% if request.path|last != "/"%}/{% endif %}rss">
                <i class="icon-download"></i>RSS
            </a>
        </li>
    </ul>
{% endif %}
<script>
    $(document).ready(function() {
        $("a.ordering, a.filter").click(function(e) {
            e.preventDefault();
            var newURL = null;

            if ($(this).hasClass('order-price'))
                newURL = updateURLParameter(window.location.href, '{% trans "sorting"%}', '{% trans "price"%}');
            else if ($(this).hasClass('order-date'))
                newURL = updateURLParameter(window.location.href, '{% trans "sorting"%}', '{% trans "date"%}');

            window.location.replace(newURL);
        });
    });
</script>
<script>
    $(document).ready(function() {
        $("#search_content").keypress(function(e) {
            if(e.which == 13)
            {
                e.preventDefault();
                var newURL = updateURLParameter(window.location.href, "{%trans 'search'%}", $(this).val());
                window.location.replace(newURL);
            }
        });
    });
</script>
