{% load i18n %}
<div class="box" id="contracts-macro-statistics">
    <h3 class="title">{% trans "Totals:"%}</h3>
    <p>{% trans "All:"%} <span class="total-sum"></span> € (<span class="total-count"></span> {% trans "contracts"%})</p>
    <p>{% trans "Last year:"%} <span class="year-sum"></span> € (<span class="year-count"></span> {% trans "contracts"%})</p>
    <p>{% trans "Last month:"%} <span class="month-sum"></span> € (<span class="month-count"></span> {% trans "contracts"%})</p>
</div>

<script>
    $(document).ready(function() {
        $.getJSON("{% url "contracts_macro_statistics_json" %}", function (data) {
            var box = $("#contracts-macro-statistics");
            $(".total-sum").html(data.total_sum/100.);
            $(".total-count").html(data.total_count);
            $(".year-sum").html(data.year_sum/100.);
            $(".year-count").html(data.year_count);
            $(".month-sum").html(data.month_sum/100.);
            $(".month-count").html(data.month_count);
        });
    });
</script>
