{% extends "contracts/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "When Portugal contract most?"%}{% endblock %}
{% block content %}
    <div class="text-element" itemscope itemtype="http://schema.org/Article">
        <h2 itemprop="name">{% trans "When Portugal contract most?" %}</h2>
        <p itemprop="description">
            {% blocktrans trimmed with url="http://www.base.gov.pt/base2/" %}
                By European law, portuguese public entities must publish their contracts in an
                <a href="{{ url }}">official public database</a>. With this database,
                we posed the question: when Portugal hires most?
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed %}
                We picked all contracts in that database and count how many of then were signed on each month
                and what was their value. Here is the result:
            {% endblocktrans %}
        </p>
    </div>
    <h4>{% trans "All contracts" %}:</h4>
    {% url 'contracts_data_selector' 'contracts-time-series-json' as the_url %}
    {% include "contracts/analysis/contracts_time_series/graph.html" with url=the_url %}
    <h4>{% trans "Municipalities only" %}:</h4>
    {% url 'contracts_data_selector' 'municipalities-contracts-time-series-json' as the_url %}
    {% include "contracts/analysis/contracts_time_series/graph.html" with url=the_url %}
    <h4>{% trans "Excluding municipalities" %}:</h4>
    {% url 'contracts_data_selector' 'excluding-municipalities-contracts-time-series-json' as the_url %}
    {% include "contracts/analysis/contracts_time_series/graph.html" with url=the_url %}
    <script>
        $(document).ready(function() {
            $("#extend-button-1").click(function() {
                $(".extendable-1").slideToggle();
            });
        });
    </script>
{% endblock %}
