html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    float: left;
    clear: none;
}

html {
    overflow-y: scroll;
    float: none;
}

body, textarea, input {
    line-height: 130%;
    font-size: 14px;
    font-family: Arial, serif;
}

body {
    color: #4b4b4b;
    float: none;
}

b,strong {
    font-weight: bold;
}

input, tr,td,
blockquote {
    float: left;
    clear: both;
}

code {
    float: none;
    font-family: "Lucida Console", monospace;
}

div,span,h1,h2,h3,h4,h5,h6,
ul,ol,li,
img,
a, label,
p {
    margin: 0 auto;
    line-height: 130%;
}

li p {
    float: none;
}

span, a, strong, strike, em {
    float: none;
}

form,pre,ul,li,p,h1,h2,h3,h4,h5,h6 {
    clear: both;
}

textarea:focus,
input:focus {
    outline: none;
}

hr {
    clear: both;
    float: left;
    width: 100%;
}

a {
    color: #1c82c3;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 23px;
    padding: 5px 0 5px 0;
}
h2 {
    font-size: 21px;
    padding: 3px 0 3px 0;
}
h3 {
    font-size: 19px;
    padding: 3px 0 3px 0;
}
h4 {
    font-size: 17px;
    padding: 3px 0 3px 0;
}
h5 {
    font-size: 15px;
    padding: 3px 0 3px 0;
}
ul, ol {
    margin-left: 20px;
    clear: both;
}
ul {
    list-style: disc;
}
ol {
    list-style: decimal;
}
td ul {
    vertical-align: middle;
}
