.list-loop,
.main-list {
    width: 100%;
}

.sorting {
    float: right;
}

.pagination.horizontal-tab-list {
    width: 50%;
}

.sorting #search_content {
    font-size: inherit;
    padding: 0;
    margin-top: 3px;
}

.graph {
    float:left;
    clear: both;
}

.pagination {
    width: 50%;
}

.pagination li {
    margin-right: 5px;
}

#rss-feed {
    float: right;
    background: url(../images/rss.png) 0 0;
    width: 30px;
    height: 30px;
}

.sidebar-box {
    width: 230px;
    float: right;
    background-color: #f5f5f5;
    padding-left: 5px;
}

.sidebar-box a,
.sidebar-box p,
.sidebar-box .title,
.sidebar-box li {
    width: 100%;
}

.sidebar-box li {
    margin-bottom: 13px;
}

.sidebar-box .title {
    color: #656565;
    margin-bottom: 5px;
    font-size: 18px;
}

.horizontal-list,
.horizontal-tab-list {
    width: 100%;
    margin-left: 0;
    list-style: none;
}

.horizontal-list li,
.horizontal-tab-list li {
    float: left;
    clear: none;
}

.horizontal-tab-list {
    height: 30px;
    font-size: 16px;
    line-height: 30px;
}

.horizontal-tab-list li {
    height: inherit;
    line-height: inherit;
    background-color: rgb(245,245,245);
}

.horizontal-tab-list span,
.horizontal-tab-list a {
    float: left;
    clear: none;
    line-height: inherit;
    padding-right: 8px;
    padding-left: 8px;
}

.horizontal-tab-list a:hover {
    background-color: #dfdfdf;
    color: #4a4a4a;
}

.horizontal-tab-list li.active,
.horizontal-tab-list span {
    background-color: #1c82c3;
    color: #000000;
}

.info {
    float: none;
    width: 100%;
    border-radius: 5px;
    border: 2px solid green;
    background-color: #e0ffdc;
    color: green;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}
