.summary {
    margin-bottom: 3px;
    background-color: #f0f0f0;
    border-radius: 10px;
    border: 1px solid #DDDBCE;
    padding-left: 5px;
}

.summary .rank {
    width: 415px;
    float: left;
}

.summary .age {
    color: rgb(180,180,180);
}

.summary .transfer {
    margin-top: 2px;
}

.summary .counter {
    text-align: center;
    margin-right: 8px;
    font-size: 24px;
}

.summary .counter p {
    float: none;
}

.summary .counter .label {
    font-size: 14px;
}

.summary .right {
    float: right;
}

.summary .price-1 {
    color: green;
    font-weight: bold;
}

.summary .price-2 {
    color: #278000;
    font-weight: bold;
}

.summary .price-3 {
    color: #588000;
    font-weight: bold;
}

.summary .price-4 {
    color: #7d8000;
    font-weight: bold;
}

.summary .price-5 {
    color: #803c00;
    font-weight: bold;
}

.summary .price-6 {
    color: #800200;
    font-weight: bold;
}
