{% load i18n %}
<script>
    $(function() {
        var href = null;
        $('#search_string').on("keypress", function(event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                $('#search').trigger('click');
            }
        });

        $("#search").click(function() {
            var string_field = $("#search_string");
            var search = string_field.val();

            if (href == null) {
                $('#search_select').trigger('click');
                return false
            }
            if (search == "") {
                string_field.focus();
                return false;
            }

            window.location.href = href + "?{% trans "search" %}=" + search;
        });

        $("#search_list a").click(function(event) {
            event.preventDefault();
            console.log($(this).text());
            var selText = $(this).text();
            href = $(this).attr('href');
            $('#search_select').html(selText+' <span class="caret"></span>');
        });
    });
</script>
