{% load i18n %}
{% load static %}
<nav class="navbar navbar-default navbar-static-top ">
    <div class="container">
        <div class="navbar-header">
             <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            <a class="navbar-brand" href="{% url 'home' %}">
                <img alt="{% trans 'Publics' %}"
                     src="{% static 'images/logo_big.png' %}"
                     class="img-rounded"
                     width="44px"
                     style="margin-top: -12px; margin-right: -12px;">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% trans "Contracts" %}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% include "contracts/base/navigation_items.html" %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% trans "Deputies" %}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% include "deputies/base/navigation_items.html" %}
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% trans "Law" %}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% include "law/base/navigation_items.html" %}
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% trans "Language" %}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% for lang in LANGUAGES %}
                            <li>
                                <form name="setLang{{ lang.1}}" action="/i18n/setlang/" method="POST">{% csrf_token %}
                                    <input name="next" type="hidden" value="" />
                                    <input name="language" type="hidden" value="{{ lang.0 }}" />
                                    <a class="btn{% if lang.0 == LANGUAGE_CODE %} disabled{% endif %}" href="#" onclick="document.setLang{{ lang.1 }}.submit();return false;">{{ lang.1 }}</a>
                                </form>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            {% include "base/search_form.html" %}
        </div>
    </div>
</nav>
