{% load i18n %}
<ul class="horizontal-tab-list">
    <li>
        {% if tab == 'summary' %}
            <span>{% trans "Summary"%}</span>
        {% else %}
            <a href="{{ category.get_absolute_url }}">{% trans "Summary"%}</a>
        {% endif %}
    </li>
    <li>
        {% if tab == 'contracts' %}
            <span>{% trans "Contracts"%}</span>
        {% else %}
            <a href="{% url "category_contracts" category.id %}">{% trans "Contracts"%}</a>
        {% endif %}
    </li>
    <li>
        {% if tab == 'contractors' %}
            <span>{% trans "Contractors"%}</span>
        {% else %}
            <a href="{% url "category_contractors" category.id %}">{% trans "Contractors"%}</a>
        {% endif %}
    </li>
    <li>
        {% if tab == 'contracted' %}
            <span>{% trans "Contracted"%}</span>
        {% else %}
            <a href="{% url "category_contracted" category.id %}">{% trans "Contracted"%}</a>
        {% endif %}
    </li>
    {% if category.tender_set.count %}
    <li>
        {% if tab == 'tenders' %}
            <span>{% trans "Tenders" %}</span>
        {% else %}
            <a href="{% url "category_tenders" category.id %}">{% trans "Tenders"%}</a>
        {% endif %}
    </li>
    {% endif %}
</ul>
