{% load i18n %}
<ul class="nav nav-tabs">
    <li {% if tab == 'summary' %}class="active"{% endif %}>
        <a href="{{ category.get_absolute_url }}">{% trans "Summary"%}</a>
    </li>
    <li {% if tab == 'contracts' %}class="active"{% endif %}>
        <a href="{% url "category_contracts" category.id %}">{% trans "Contracts"%}</a>
    </li>
    <li {% if tab == 'contractors' %}class="active"{% endif %}>
        <a href="{% url "category_contractors" category.id %}">{% trans "Contractors"%}</a>
    </li>
    <li {% if tab == 'contracted' %}class="active"{% endif %}>
        <a href="{% url "category_contracted" category.id %}">{% trans "Contracted"%}</a>
    </li>
    {% if category.tender_set.count %}
    <li {% if tab == 'tenders' %}class="active"{% endif %}>
        <a href="{% url "category_tenders" category.id %}">{% trans "Tenders"%}</a>
    </li>
    {% endif %}
</ul>
