{% load i18n %}
<div class="main-list">
    {% if laws %}
        {% include "law/law_list/pagination.html" %}
    {% endif %}
    <div class="list-loop">
        {% for law in laws %}
            {% include "law/law_list/law_summary.html" %}
        {% endfor %}
    </div>
    {% if laws %}
        {% include "law/law_list/pagination.html" %}
    {% endif %}
</div>
<script>
    $(document).ready(function() {
        $("a.page-selector").click(function() {
            var me = $(this);
            var newURL = null;
            newURL = updateURLParameter(window.location.href, '{% trans "page"%}', me.html());
            window.location.replace(newURL);
        });
    });
</script>
