{% extends "summary.html" %}
{% load i18n %}
{% block summary_heading %}
    <a href="{{ tender.get_dre_url }}">{{ tender.description }}</a> (<a href="{{ tender.get_base_url }}">BASE</a>)
{% endblock %}
{% block summary_body %}
    <span class="glyphicon glyphicon-euro"></span>
    <span>{% include "contracts/tender_list/colored_price.html" with price=tender.price %}</span>
    <br>
    <span class="glyphicon glyphicon-calendar"></span>
    <span>{{tender.publication_date}} ({% trans "deadline" %}: {{tender.deadline_date}})</span>
    <br>
    <span class="glyphicon glyphicon-download"></span>
    {% for contractor in tender.contractors.all %}
        {% include "contracts/entity_inline.html" with entity=contractor %}
    {% endfor %}
{% endblock %}
