{% load static %}
<div class="text-element" itemscope itemtype="http://schema.org/Article">
    <h2 itemprop="name">Que esforço fazem os municípios ao publicarem os seus contratos?</h2>
    <p itemprop="description">
        As entidades públicas têm o dever de publicar os seus contratos públicos
        <a href="http://www.base.gov.pt/base2/">na base de dados oficial de contratos públicos</a>.
    </p>
    <p>
        Cada contrato tem associada uma categoria na
        <a href="http://europa.eu/legislation_summaries/internal_market/businesses/public_procurement/l22008_pt.htm">
            categorização oficial da União Europeia</a>,
        um conjunto de 9409 categorias organizadas segundo uma hierarquia, como ilustrado na figura seguinte:
    </p>
    <img src="{% static 'images/categories_example.png' %}" itemprop="primaryImageOfPage"/>
    <p>
        Sempre que um município adiciona um contrato à base de dados, tem de colocar a
        categoria que melhor se adequa ao contrato. Isto é, pode escolher uma categoria mais ou
        menos específica.
        Com a informação existente, colocámos a pergunta:
    </p>
    <h3>
        Quão específicos são os municípios a documentar os seus contratos?
    </h3>
    <p>
        Para responder a esta pergunta, definimos um indicador
        que quantifica a especificidade do contrato na categorização oficial (<a id="extend-button-1">expandir detalhes</a>).
    </p>
    <div id="extendable-1" hidden="1">
        <h4>
            Definição do indicador
        </h4>
        <p>
            Dizemos que a especificidade de um contrato é 0 quando
            ele não tem categoria, e é 7 quando o contrato tem a categoria mais específica possível (7 é a profundidade máxima da hierarquia) (<a id="extend-button-2">expandir detalhes</a>).
        </p>
        <div id="extendable-2" hidden="1">
            <p>
                Quando uma categoria tem mais subcategorias que outra, como acontece em muitas, poderia existir um problema na definição
                de especificidade. Isto não é um problema pois o sistema de categorias foi desenvolvido
                exactamente a pensar nisso [<a href="http://simap.europa.eu/codes-and-nomenclatures/codes-cpv/cpv_2008_guide_en.pdf">Guia oficial de CPVS, página 6, primeira coluna, primeiro item, entre parenteses</a>].
            </p>
            <p>
                Os dados são atualizados uma vez por dia (04:00) e estão acessíveis
                <a href="{% url 'contracts_data_selector' 'category-ranking-index-json' %}">aqui (rankings)</a> e
                <a href="{% url 'contracts_data_selector' 'entities-category-ranking-histogram-json' %}">aqui (histograma)</a>.
                O código fonte usado para os calcular encontra-se <a href="https://github.com/jorgecarleitao/public-contracts">aqui</a>,
                onde destacamos <a href="https://github.com/jorgecarleitao/public-contracts/blob/master/contracts/analysis/analysis.py">o código para calcular as médias</a>.
            </p>
        </div>
        <p>
            Para cada entidade, o indicador é definido como a especificidade média dos seus contratos (todos onde a entidade foi "adjudicante", i.e. quem pagou).
            Ou seja, calculámos a especificidade de cada um dos seus contratos, e tirámos o valor médio.
        </p>

        <p>
            Notamos que nem todos os contratos são passíveis de ter a categoria mais específica [<a href="http://simap.europa.eu/codes-and-nomenclatures/codes-cpv/cpv_2008_guide_en.pdf">Guia oficial (PDF, en)</a>]:
        </p>
        <ul>
            <li>
                Quando uma categoria não existe, o contrato é colocado numa categoria de menor especificidade
            </li>
            <li>
                Quando o contrato é sobre mais que uma categoria numa dada especificidade, este é colocado na categoria acima, menos específica.
            </li>
        </ul>
        <p>
            Isto invalida comparações entre duas quaisquer entidades, mas permite comparar
            entidades que à partida usam categorias semelhantes.
        </p>
    </div>
    <p>
        Neste sentido, e motivados pelo <a href="http://poderlocal.transparencia.pt/">ranking da Associação Cívica Transparência e Integridade</a> (TIAC), comparámos a
        especifícidade média entre municípios: enumerámos todos os municípios registados na base de dados pública e cálculamos a específicidade média dos seus contratos.
        Eis o resultado (passe o rato pelo gráfico):
    </p>
</div>
