{% extends "base.html" %}
{% block content %}
    <h1>404: Página não encontrada</h1>
    <p>
        Bem vindo à página 404 deste website. Entrou nesta página porque, por que quer que tenha feito,
        requeriu um url inexistente do website.
    </p>
    <p>
        Pedimos desculpa por cá se encontrar. Se isto foi causado por ter feito uma acção normal no website (e.g.
        ter clicado num link), pediamos-lhe que nos indicasse onde clicou (que o fez vir parar a esta página)
        através da da nossa <a href="https://groups.google.com/forum/#!forum/public-contracts">mailing list</a>.
    </p>
    <p>
        O seu feedback é importante para que esta página não volte a aparecer a si nem a outros utilizadores.
    </p>
    <h4>
        Obrigado!
    </h4>
{% endblock %}
