{% extends "two_column_body.html" %}
{% block content %}
    <h1>500: Erro de servidor</h1>
    <p>
        Bem vindo à página 500 deste website. Entrou nesta página porque encontrou (e causou) um erro no servidor.
    </p>
    <p>
        Pedimos desculpa pelo que aconteceu. Recebemos um relatório do erro, e vamos fazer os possíveis
        para que o erro seja resolvido o mais rapidamente possível.
    </p>
    <p>
        Obrigado! Esta é uma forma eficiente (ainda que desagradável para si) de encontrar erros neste website.
    </p>
{% endblock %}
