{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% include "google_analytics.html" %}

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/summary.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/document.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/nv.d3.css' %}" rel="stylesheet" type="text/css"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <script src="{% static 'js/d3.v3.min.js' %}"></script>
    <script src="{% static 'js/nv.d3.min.js' %}"></script>
    <script src="{% static 'js/change_get_parameters.js' %}"></script>
    {% block forejs %}{% endblock %}
</head>
<body>

{% include "base/top_header.html" %}
<div class="container">
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
</div>
{% include "base/footer.html" %}
</body>
</html>
