{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    {% include "google_analytics.html" %}
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/contracts.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/body.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/summary.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/misc.css' %}" rel="stylesheet" type="text/css"/>

    {# <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script> #}
    <script src="{% static 'js/jquery-1.10.2.min.js' %}" ></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{% static 'js/change_get_parameters.js' %}" ></script>
    {% block forejs %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

{% include "base/top_header.html" %}
<div class="content-wrapper">
    {% include "base/header.html" %}
    {% block secondary_header %}{% include "base/secondary_header.html" %}{% endblock %}
    {% block body %}{% endblock %}
</div>
{% include "base/footer.html" %}
</body>
</html>
