{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "google_analytics.html" %}

    <link href="{% static 'css/summary.css' %}" rel="stylesheet" type="text/css"/>

    {# boostrap #}
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/dropdown.min.js"></script>

    {% if REQUIRE_DATEPICKER %}
        {# moment.js to daterangepicker.js #}
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/lang/pt.js"></script>

        {# daterangepicker.js #}
        <link href="//cdn.jsdelivr.net/bootstrap.daterangepicker/1.3.5/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
        <script src="//cdn.jsdelivr.net/bootstrap.daterangepicker/1.3.5/daterangepicker.js" type="text/javascript" ></script>
    {% endif %}

    {% if REQUIRE_D3JS %}
        {# d3.js #}
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.9/d3.min.js" type="text/javascript" ></script>

        {# nv.d3.js #}
        <link href="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.css" rel="stylesheet">
        <script src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.js" type="text/javascript" ></script>
    {% endif %}

    {% include "base/search_js.html" %}
    {% include "change_parameters.html" %}
</head>
<body>

{% include "base/top_header.html" %}
<div class="container">
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
</div>
{% include "base/footer.html" %}
</body>
</html>
