{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Contribute"%}{% endblock %}
{% block content %}
    <h3>{% trans "Why contribute to publicos.pt?" %}</h3>
    <p>{% blocktrans trimmed %}
        ~1.000 persons visit this website every day searching for portuguese contracts, companies and laws.
        This is our way of helping the country: we build tools that help citizens
        and companies taking better decisions by having better access to public information.
    {% endblocktrans %}</p>
    <p>{% blocktrans trimmed %}
        We develop such tools because we believe that public information should be as
        accessible and transparent as possible for citizens and companies:
        we believe that lack of accessibility and transparency leads to lower
        economical output, more need of bureaucracy, and less democratic procedures.
    {% endblocktrans %}</p>
    <p>{% blocktrans trimmed %}
        By contributing to publicos.pt you are thus helping real people to have better
        access to public information with a hands on approach to help the country.
        But by contributing to publicos.pt you are also improving your programmers skills:
        we use latest technology from web development industry and are
        always open to help you in any difficulty you have.
    {% endblocktrans %}</p>
    <p>{% blocktrans trimmed %}
        As contributor is you are expected to execute mini projects where you implement
        a bug fix or a feature. This provides you valuable experience in designing solutions
        that don't break existing functionality.
    {% endblocktrans %}</p>
    <h3>{% trans "What to contribute to publicos.pt?" %}</h3>
    <p>{% blocktrans trimmed %}
        A contribution typically falls in one of the following categories:
    {% endblocktrans %}</p>
    <ol>
        <li>{% trans "Error reports or feature suggestions" %}</li>
        <li>{% trans "Error fixes or implementation of features" %}</li>
    </ol>
    <p>{% blocktrans trimmed %}
        The first category typically does not require programming skills: navigate
        on the website and feel free to report what you believe should be improved.
    {% endblocktrans %}</p>
    <p>{% blocktrans trimmed %}
        The second category typically requires programming skills. We require a minimal
        understanding of Python/Django and Git.
    {% endblocktrans %}</p>
    <h3>{% trans "How to contribute to publicos.pt?" %}</h3>
    <p>{% blocktrans trimmed %}
        Like most websites, publicos.pt uses continuous deployment:
        once your contribution is pushed to the repository's master branch, it is deployed
        on the server and your contribution is used by all users of the website.
    {% endblocktrans %}</p>
    <p>{% blocktrans trimmed %}
        As a user of publicos.pt with a suggestion, the easiest way to contribute
        is to send us an e-mail with it. We create open a ticket on our bug tracker,
        so that someone can pick it up. You can also report it directly in the bug
        tracker if you have a Github account.
    {% endblocktrans %}</p>
    <p>{% blocktrans trimmed %}

    {% endblocktrans %}</p>
{% endblock %}
