{% if LANGUAGE_CODE == 'pt' %}
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        <img alt="Licença Creative Commons" style="border-width:0"
             src="http://i.creativecommons.org/l/by/4.0/88x31.png" />
    </a><br />O trabalho "<span xmlns:dct="http://purl.org/dc/terms/"
                                href="http://purl.org/dc/dcmitype/Text"
                                property="dct:title"
                                rel="dct:type">{{ title }}</span>" de
    <a xmlns:cc="http://creativecommons.org/ns#"
       href="{{ author_url }}"
       property="cc:attributionName"
       rel="cc:attributionURL">{{ author }}</a>
    está licenciado com uma Licença <a rel="license"
                                       href="http://creativecommons.org/licenses/by/4.0/">
    Creative Commons - Atribuição 4.0 Internacional</a>.
    <br />Trabalho original disponível em
    <a xmlns:dct="http://purl.org/dc/terms/"
       href="{{ request.build_absolute_uri }}"
       rel="dct:source">{{ request.build_absolute_uri }}</a>.
{% else %}
    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
        <img alt="Licença Creative Commons" style="border-width:0"
             src="http://i.creativecommons.org/l/by/4.0/88x31.png" />
    </a><br />The work "<span xmlns:dct="http://purl.org/dc/terms/"
                              href="http://purl.org/dc/dcmitype/Text"
                              property="dct:title"
                              rel="dct:type">{{ title }}</span>" of
    <a xmlns:cc="http://creativecommons.org/ns#"
       href="{{ author_url }}"
       property="cc:attributionName"
       rel="cc:attributionURL">{{ author }}</a>
    is licenced under a Licence <a rel="license"
                                   href="http://creativecommons.org/licenses/by/4.0/">
    Creative Commons - Atribuição 4.0 Internacional</a>.
    <br />Original work can be found at
    <a xmlns:dct="http://purl.org/dc/terms/"
       href="{{ request.build_absolute_uri }}"
       rel="dct:source">{{ request.build_absolute_uri }}</a>.
{% endif %}
