{% extends "base.html" %}
{% load i18n %}
{% block title %}Open call to create a new logo for publics.pt{% endblock %}
{% block content %}
    <div>
        <h2>Designers, we need your help!</h2>
        <p>
            As our website gets more attention, our responsibilities increase.
            We have recently reached the 2.000 daily visitors,
            and it is part of our responsibility to ensure good practices
            regarding trademarks.
        </p>
        <p>
            A user of our website has pointed out that our logo is very close to
            the official logo of "público", the most subscribed newspaper in
            Portugal.
        </p>
        <p>
            By no means we want to misguide users of neither público or
            publicos.pt and we are thus changing our logo.
        </p>
        <p>
            Because this project is for everyone and we don't have a budget to
            hire a designer, we are opening a call for designers, artists and
            everyone in general to propose a new logo for this project.
        </p>
        <h3>What we are searching for:</h3>
        <ul>
            <li><strong>a squared logo</strong> in svg format</li>
            <li>with the <strong>same major blue color</strong> as the current one</li>
            <li>related with <strong>government openness</strong></li>
            <li>that we can use as logo of this website</li>
            <li>preferably <strong>clean and simple</strong> (like the
                website is intended to be)</li>
            <li>submitted until <strong>1st of December</strong></li>
        </ul>
        <h3>What we offer:</h3>
        <ul>
            <li>
                that the logo retains the copyright of the author;
                we only need a licence that allow us to freely use it in the
                website.
            </li>
            <li>
                A special section in the "about" page with an explanation of the
                logo by the author, along with its name and link to his webpage.
            </li>
        </ul>
        <h3>How will it be decided</h3>
        <p>
            If there is more than one proposal, the decision is made by voting
            (specific rules to be discussed).
        </p>
        <h3>Submission process</h3>
        <p>
            You can submit your proposal by sending an email to
            jorgecarleitao@publicos.pt with:
        </p>
        <ul>
            <li>
                An svg of the logo
            </li>
            <li>
                Your name
            </li>
        </ul>
    </div>
{% endblock %}
