{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Publics"%}{% endblock %}
{% block content %}
    <div itemscope itemtype="http://schema.org/WebPage">
        <div class="text-center">
            <h1 itemprop="name">
                Bem vindo ao Públicos
            </h1>
            <img class="img-rounded" src="{% static 'images/logo_big.png' %}" itemprop="primaryImageOfPage"/>
            <p itemprop="description">
                Conheça os <strong>contratos</strong>, as <strong>leis</strong> e os <strong>deputados</strong>
                do estado português.
            </p>
        </div>
        <h2>Contratos</h2>
        <p>
            Neste website pode encontrar todas as entidades, contratos e concursos públicos existentes no <a href="http://www.base.gov.pt">site oficial de contratos públicos</a>.
            Pode ainda conhecer:
        </p>
        <ul>
            <li>
                que empresas são mais contratadas, que empresas mais contratam e em que sector económico.
            </li>
            <li>
                os últimos concursos públicos, ou que entidades públicas estão a contratar mais.
            </li>
            <li>
                evolução temporal de indicadores macroscópicos da contratação pública portuguesa.
            </li>
        </ul>
        {% include "contracts/analysis/contracts_price_histogram/graph.html" %}
        <p><a href="{% url "contracts_home" %}">Mais informações</a></p>
        <h2>Leis</h2>
        <p>
            Este website tem todas as leis presentes no <a href="http://dre.pt">site oficial do Diário da República</a>.
        </p>
        <ul>
            <li>
                [Em construção] Pode procurar no texto integral da lei.
            </li>
            <li>
                [Em construção] Temos RSSs das listas de leis, caso queira receber actualizações no seu computador
                quando novas leis surgem.
            </li>
        </ul>
        {% url 'law_data_selector' 'law-types-time-series-json' as the_url %}
        {% include "law/analysis/law_types_time_series/graph.html" with url=the_url%}
        <p><a href="{% url "law_home" %}">Mais informações</a></p>
        <h2>Deputados</h2>
        <p>
            Este website tem a lista de todos os deputados no <a href="http://parlamento.pt">site oficial do Parlamento Português</a>.
        </p>
        <ul>
            <li>
                Divulgamos a lista de todos os deputados que passaram pelo parlamento.
            </li>
            <li>
                [Em construção]: temos os registos de interesses de todos os deputados, incluindo ligações para
                as entidades presentes em contratos públicos.
            </li>
            <li>
                [Em construção]: Temos os registo de que leis os deputados proposeram, ligando com
                as leis já existentes.
            </li>
        </ul>
        {% include "deputies/analysis/mandates_distribution/graph.html" %}
        <p><a href="{% url "deputies_home" %}">Mais informações</a></p>
        <h3>Outras informações:</h3>
        <ul>
            <li>
                Este website é open source, público e não-governamental.
            </li>
            <li>
                Todos os dados aqui apresentados estão
                sincronizados com os dados oficiais com o máximo de 24h de erro.
            </li>
            <li>
                A base de dados deste website é <strong>pública</strong>. Consulte a documentação
                do website para a aceder.
            </li>
        </ul>
    </div>
{% endblock %}
