{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Publics"%}{% endblock %}
{% block content %}
    <div class="jumbotron" itemscope itemtype="http://schema.org/WebPage">
        <div class="container">
            <img class="img-rounded" src="{% static 'images/logo_big.png' %}" itemprop="primaryImageOfPage"/>
            <h1>{% trans "Publics" %}</h1>
            <p><small>
                {% blocktrans %}
                    Know the <strong>contracts</strong>, the <strong>laws</strong>
                    and the <strong>deputies</strong> of the portuguese state.
                {% endblocktrans %}
            </small></p>
            <p itemprop="description">
                {% blocktrans %}
                    Here you can find any public contract, tender,
                    law or deputy officially released by official sources. We
                    aim to provide tools for you to extract meaningful answers
                    about them. Learn how...
                {% endblocktrans %}
            </p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans "Contracts" %}</h2>
        </div>
        <div class="panel-body">
            <p>
                {% blocktrans %}
                    In this website you can find all contracts,
                    entities and tenders officially published by the state.
                    You can also find:
                {% endblocktrans %}
            </p>
            <ul>
                <li>
                    {% trans "which companies are most hired, which most hire, and in which economical sector." %}
                </li>
                <li>
                    {% trans "the last public tenders, or the public entities that are tendering most." %}
                </li>
                <li>
                    {% trans "temporal evolution of macroscopic indicators of portuguese public procurement." %}
                </li>
            </ul>
            {% include "contracts/analysis/contracts_price_histogram/graph.html" %}
            <p><a class="btn btn-success" role="button" href="{% url "contracts_home" %}">{% trans "More information"%}</a></p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans "Laws" %}</h2>
        </div>
        <div class="panel-body">
            {% blocktrans %}
                In this website you can find all portuguese laws officially
                published.
            {% endblocktrans %}

            {% url 'law_data_selector' 'law-types-time-series-json' as the_url %}
            {% include "law/analysis/law_types_time_series/graph.html" with url=the_url%}
            <p><a class="btn btn-success" role="button" href="{% url "law_home" %}">{% trans "More information"%}</a></p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans "Deputies" %}</h2>
        </div>
        <div class="panel-body">
            {% blocktrans %}
                In this website you can find all members of the portuguese
                parliament since 1992.
            {% endblocktrans %}
            {% include "deputies/analysis/mandates_distribution/graph.html" %}
            <p><a class="btn btn-success" role="button" href="{% url "deputies_home" %}">{% trans "More information"%}</a></p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans "Other informations" %}</h2>
        </div>
        <div class="panel-body">
            <ul>
                <li>
                    {% trans "This website is open source, public, and non-governamental." %}
                    Este website é open source, público e não-governamental.
                </li>
                <li>
                    {% trans "All data in this website is syncronized with official sources within 24h." %}
                    Todos os dados aqui apresentados estão sincronizados com os
                    dados oficiais com o máximo de 24h de erro.
                </li>
                <li>
                    {% trans "The database is <strong>public</strong>. Check out the documentation to access it." %}
                    A base de dados deste website é <strong>pública</strong>. Consulte a documentação
                    do website para a aceder.
                </li>
            </ul>
            <p><a class="btn btn-success" role="button" href="
            {% url "about" %}">{% trans "More about us"%}</a></p>
        </div>
    </div>
{% endblock %}
