{% extends "contracts/base.html" %}
{% load i18n %}
{% load contracts.humanize %}
{% block title %}{% trans "Distribution of earnings of entities"%}{% endblock %}
{% block content %}
    <div class="text-element">
        <h2>{% trans "How many entities earned/spent X Euros?"%}</h2>
        <p>
            A base de dados oficial de contratos públicos contém hoje milhares de contratos e entidades.
            Nesta análise pretendemos conhecer a distribuição de faturação e despesas das entidades, i.e,
            quantas entidades ganharam/gastaram X euros:
        </p>
        {% include "contracts/analysis/entities_values_histogram/graph.html" %}
        <p>
            O gráfico contém todas as entidades até hoje (atualizado diariamente)
            e foi construído contando o total de faturação/despesa de cada entidade.
            As barras correspondem ao número de entidades que faturação/despesa um valor em €
            apresentado em cada barra (i.e. um histograma).
        </p>
        <ul>
            <li>
                Entidades que gastaram e ganharam são contabilizadas em ambos os gráficos.
            </li>
            <li>
                Note que os valores no eixo do x estão em escala exponencial.
            </li>
            <li>
                Pode filtrar os gráficos clicando nos círculos respectivos.
            </li>
        </ul>
    </div>
{% endblock %}
